/**/

canvas{
  background-image: url('https://st.depositphotos.com/3623121/5045/v/600/depositphotos_50452863-stock-illustration-jungle-with-red-flowers.jpg');
  background-size: 380px 100%;
  width: 100%;
}

button{
  height: 60px;
}

button svg{
  width: 40px;
  height: 40px;
}